[submodule "spur/lib/openzeppelin-contracts"]
	path = spur/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "spur/lib/forge-std"]
	path = spur/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
